 @import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lato:ital,wght@0,400;0,700;1,400&family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 150%;
}

.wrapper {
  padding: 2em 15em;
}

header {
  width: 30%;
  float: left;
}
