 @import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lato:ital,wght@0,400;0,700;1,400&family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 150%;
}

.wrapper {
  padding: 2em 15em;
  display: flex;
}

a {
 text-decoration: none;
 color: #0033a0;
}

header {
  width: 30%;
  float: left;
}

.title {
 font-size: 120%;
 font-weight: 600;
}

.title a {
 display: flex;
 align-items: center
}

.title a img {
 width: 36px;
 height: auto;
 margin-right: 15px;
}

header ul {
 list-style: none;
 padding: 0
}

header ul li {
 padding-bottom: .6em;
}

header ul li a i {
 padding-right: 10px;
}

.language-selection span {
 display: block;
}

h1 {
 margin-bottom: 1em;
}

h2 img {
 max-width: 28px;
 height: auto;
 float: left;
 padding-right: .5em;
}
